[submodule "apipost-bin"]
	path = apipost-bin
	url = ssh://aur@aur.archlinux.org/apipost-bin.git
	barnch = master
[submodule "mqttx-appimage"]
	path = mqttx-appimage
	url = ssh://aur@aur.archlinux.org/mqttx-appimage.git
	barnch = master
[submodule "pnpm-bin"]
	path = pnpm-bin
	url = ssh://aur@aur.archlinux.org/pnpm-bin.git
	barnch = master
